main {
    margin: 50px 2%;
}

#content {
    margin: 20px 0;
}

.card a:hover {
    text-decoration: none;
}

.card {
    margin-bottom: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

button {
    margin: 10px 0 !important;
}
