# Binaries
*/bin/

# Gradle
build/
.gradle/

# IDE
.idea/

# Node Modules
api-server/node_modules/
api-server/target/
api-server/package-lock.json

# draw.io temp file
*.dtmp
*.bkp

# MacOS file system
*.DS_Store

# Chaincode jars/packages
*.jar
*.tar.gz
