### Binaries ###
*/bin/

### Gradle ###
build/
.gradle/

#### IDEs ###
# IntelliJ IDEA
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### draw.io temp file ###
*.dtmp
*.bkp

### MacOS file system ###
*.DS_Store

### Chaincode jars/packages ###
*.jar
*.tar.gz
