<!DOCTYPE html>
<html>    
    <head>
        <%- include('commons/head') %>
        <link rel="stylesheet" href="../styles/personal-area.css">
    </head>
    <body>
        <%- include('commons/navbar') %>
        <main>
            <div class="row justify-content-center">
                <h1>Welcome, Luca!</h1>
            </div>
            <div class="row" id="content">
                <div class="col-md-3">
                    <form>
                        <div class="form-group">
                            <label for="anno">Year:</label>
                            <select class="form-control" id="anno">
                                <option value="2023">2023</option>
                                <option value="2022">2022</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">GO</button>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="alert alert-info" role="alert">
                        Found: <strong>10</strong> results
                    </div>
                    <div class="card">
                        <a href="">
                            <div class="card-body">
                                <h5 class="card-title">Test Election 1</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Election info...</h6>
                                <a href="#" class="card-link">See results</a>
                                <a href="#" class="card-link">Cast a vote</a>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="">
                            <div class="card-body">
                                <h5 class="card-title">Test Election 2</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Election info...</h6>
                                <a href="#" class="card-link">See results</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <%- include('commons/footer') %>
    </body>
</html>