<!DOCTYPE html>
<html>    
    <head>
        <link rel="stylesheet" href="../styles/index.css">
        <%- include('commons/head') %>
    </head>
    <body>
        <%- include('commons/navbar') %>
        <main>
            <div class="row">
                <div class="col-md-6 center mx-auto" style="text-align: center; margin: 20px 0;">
                    <h1>Oooooops... page not found &#128529</h1>
                </div>
            </div>
        </main>
        <%- include('commons/footer') %>
    </body>
</html>